#backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Dark transparent overlay */
  z-index: 9;
}

#drawerMenu {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  flex-direction: column;

  position: absolute;
  height: 100%;
  width: 320px;
  background-color: hsla(210, 39%, 15%, 0.8);
  border-radius: 0 15px 15px 0;
  z-index: 10;
}

#internalDrawer {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;

  gap: 10px;
  width: 98%;
  max-height: 99%;

  flex-grow: 1;
  overflow: hidden;
  background-color: #0a0a0d;
  border-radius: 0 15px 15px 0;
}
